<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket.che</title>
    <link rel="stylesheet" href="/style_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Heebo&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
    <header>
        <div class="header">
            <div class="head_left">
            <img id="logo_img" src="/favicon.png" alt="icon">
            <p>Ticket.che</p>
            </div>
            <div class="head_right">
                <div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                <img id="header_img" src="/user.png" alt="icon">
                <img id="header_img" src="/shopping_cart.png" alt="icon">
            </div>
        </div>
    </header>
    <div class="title_box">
        <span>Афіша заходів в Черкасах</span>
    </div>
    <div class="carousel">
        <div class="carousel-container">
            <!--<img src="/arrow_left.png" id="prev-btn" onclick="prevSlide()">-->
            <div class="carousel_img">
                <img src="/«МАВКА.ШОУ».jpeg">
                <img src="/«ПОЖЕЖА».jpeg">
                <img src="/«Попелюшка» (театр ім. М. Л. Кропивницького).jpeg">
                <img src="/«Ханума» А. Цагарелі.jpeg">
                <img src="/Ансамбль танцю ім. П. Вірського.jpeg">
                <img src="/Венздей Аддамс та Хагі Вагі у Грі в кальмара.jpeg">
                <img src="/Жіноча логіка.jpeg">
                <img src="/Кайдашева сім'я.jpeg">
                <img src="/Настя Каменських. Благодійний тур «Я - Україна».jpeg">
                <img src="/Носороги.jpeg">
                <img src="/Петро Бампер_Сус.jpeg">
                <img src="/Степан Гіга. Золоті хіти.jpeg">
                <img src="/Украдене щастя.jpeg">
            </div>
            <!--<img src="/arrow_right.png" id="next-btn" onclick="nextSlide()">-->
        </div>
    </div>
    <div class="type_selector">
        <div>
            <input type="checkbox" name="type" id="all_types" value="all" onclick="changeCheckbox('all')" <% if (!checkedTypes || checkedTypes.includes('all')) { %> checked <% } %>>
            <label for="all">Усі типи</label>
        </div>
        <div>
            <input type="checkbox" name="type" id="concert" value="concert" onclick="changeCheckbox('concert')" <% if (checkedTypes && checkedTypes.includes('concert')) { %> checked <% } %>>
            <label for="cocert">Концерти</label>
        </div>
        <div>
            <input type="checkbox" name="type" id="stand_up" value="stand-up" onclick="changeCheckbox('stand-up')" <% if (checkedTypes && checkedTypes.includes('stand-up')) { %> checked <% } %>>
            <label for="stand-up">Stand-Up</label>
        </div>
        <div>
            <input type="checkbox" name="type" id="theater" value="theater" onclick="changeCheckbox('theater')" <% if (checkedTypes && checkedTypes.includes('theater')) { %> checked <% } %>>
            <label for="theatre">Театр</label>
        </div>
        <div>
            <input type="checkbox" name="type" id="kids" value="kids" onclick="changeCheckbox('kids')" <% if (checkedTypes && checkedTypes.includes('kids')) { %> checked <% } %>>
            <label for="kids">Дітям</label>
        </div>
        <input type="submit" value="Обрати" style="height: 25px;" onclick="submitForm(event)">
    </div>
    <section>
        <% if (concerts.length) {%>
            <% concerts.forEach(({id, concertname, description, address, time, date, price, poster, type, redirect}) => { %>
                <div>
                    <div class="image_concert"><img src="<%= poster %>"></div>
                    <div class="text_concert">
                        <h1><%= concertname %></h1>
                        <p class="p1_concert"><%= description %></p>
                        <p class="p_concert"><%= date %></p>
                        <p class="p_concert"><%= time %></p>
                        <p class="p_concert"><%= address %></p>
                    </div>
                    <div class="price_concert">
                        <p class="p1_concert">Ціна: <%= price %></p>
                        <a href="<%= '/'+redirect %>">
                            <input type="button" value="Купити">
                        </a>
                    </div>
                </div>
                <hr>
            <% }) %>
        <% } %>
    </section>
    <script src="/script_main.js"></script>
</body>
</html>